@import "../scss/main.scss";

.list-header {
    margin-top: 2em;
}

.filters {
    label {
        display: block;
    }
}

.components-list-item {
    border-bottom: 2px solid $ui-03;
    padding: 1em 0; 
    p {
        margin: 0;

        &.large {
            font-size: 125%;
        }
    }
    
    .component-details {
        color: $text-02;
    }
}