@import "../scss/main.scss";

.components-list-item {
    border-bottom: 2px solid $ui-03;
    padding: 1em 0; 

    p {
        margin: 0;
    }
    
    .component-details {
        font-size: .8rem;
        color: $text-02;
    }
}

.status {
    &.ready {
        color: $support-02;
    }
    &.deprecated {
        color: $support-01;
    }
    &.under-review {
        color: $support-03;
    }

    strong {
        color: $text-02;
    }
}