@import "../scss/main.scss";

.components-list-item {
    border-bottom: 2px solid $ui-03;
    padding: 1em 0; 

    p {
        margin: 0;
    }
    
    .component-details {
        // font-size: .8rem;
        color: $text-02;
    }
}

.status {
    color: #fff;
    &.ready {
        background-color: $support-02;
    }
    &.deprecated {
        background-color: $support-01;
    }
    &.under-review {
        background-color: $support-03;
    }
}