// Gray (Lightest to Darkest)
$color__gray-1: #f4f7fb !default; // Utility #4
$color__gray-2: #e1e7eb !default; // Utility #3
$color__gray-3: #8697a2 !default; // Utility #2
$color__gray-4: #5e6d78 !default; // Text #2
$color__gray-5: #5a6871 !default; // Utility #1
$color__gray-6: #464852 !default; // Text #1

// Red (Lightest to Darkest)
$color__red-1: #ff2a39 !default; // Brand 1 Lighten
$color__red-2: #ff6d6d !default; // Messaging Error
$color__red-3: #dd1321 !default; // Brand 1 & Text #4
$color__red-4: #a70b16 !default; // Brand 1 Darken
$color__red-5: #8e0912 !default; // Brand 1 Darkest

// Blue (Lightest to Darkest)
$color__blue-1: #1f79ce !default; // Brand 2 Lighten
$color__blue-2: #56a5ef !default; // Messaging Focus
$color__blue-3: #0a4d8c !default; // Brand 2 & Text #5
$color__blue-4: #063561 !default; // Brand 2 Darken
$color__blue-5: #052d52 !default; // Brand 2 Darkest

// Light Blue (Lightest to Darkest)
$color__light-blue-1: #7bdaff !default; // Brand 3 Lighten
$color__light-blue-2: #32b2e4 !default; // Brand 3
$color__light-blue-3: #1f89b3 !default; // Brand 3 Darken
$color__light-blue-4: #186d8f !default; // Brand 3 Darkest

// Utility (Lighest to Darkest)
$color__green-1: #96de59  !default; // Messaging 
$color__yellow-1: #eff25b !default;

$color__black: #000 !default;
$color__white: #fff !default;