//--------------------
// GLOBAL MIXINS
//--------------------

@mixin typescale($size) {
    @if map-has-key($typescale-map, $size) {
        font-size: map-get($typescale-map, $size);
    }
    @else {
        @warn 'This is not a step of the UTA Type Scale!';
    }
}

@mixin heading-1() {
    @include typescale('h1');
    font-weight: $font-weight-regular;
    letter-spacing: -1px;
    line-height: 75px;
}

@mixin heading-2() {
    @include typescale('h2');
    font-weight: $font-weight-regular;
    letter-spacing: -1px;
}

@mixin heading-3() {
    @include typescale('h3');
    font-weight: $font-weight-regular;
    letter-spacing: -0.5px;
}

@mixin heading-4() {
    @include typescale('h4');
    font-weight: $font-weight-bold;
    letter-spacing: -0.5px;
}

@mixin heading-5() {
    @include typescale('h5');
    font-weight: $font-weight-regular;
    letter-spacing: 0.4px;
}

@mixin heading-6() {
    @include typescale('h6');
    font-weight: $font-weight-regular;
    letter-spacing: 0;
}

@mixin heading-7() {
    @include typescale('h7');
    font-weight: $font-weight-semibold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

@mixin heading-8() {
    @include typescale('h8');
    font-weight: $font-weight-semibold;
    letter-spacing: 0;
}